@media (max-width: 48em) {
  .button-text-sidebar {
    display: none;
  }
  .sidebar-link {
    gap: 0px
  }
  .sidebar-link a {
    width: 100%;
    min-width: 0px;
  }
  .sidebar-link button {
    min-width: 0px
  }
  .sidebar-link button span {
    margin: 0
  }
  .logout-button span {
    margin: 0
  }
  .img-logo {
    padding-top: 13px
  }
}
